<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>Todolist App</h2>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <input type="text" class="form-control" [(ngModel)]="content">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addToList()">Add</button>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-6">

        <h4 *ngFor="let list of lists"> <blockquote>{{ list }}</blockquote></h4>

      </div>
  </div>
</div>

