<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/style.css" />
    <title>Todo App</title>
</head>
<body>
    <div>
        <h2>Todo List App</h2>
        <form action="/" method="POST">
        <input type="text" name="task" placeholder="Add your task">
        <button type="submit">Add Task</button>
        </form>

        {{#list}}
        {{/list}}
        {{!-- <form action="/" method="POST">
            <input name="name" value="default value" class=".test" style="display: none;">
            <li name="list">This is sample <button type="submit"><i>del</i></button></li>
        </form> --}}
    </div>
</body>
</html>